/*hier machst du das styling einer website*/
/* die sachen, die ich mit class oder id im HTML hinterlegt habe, werden hier designed (farbe, schriftgröße etc.)*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body{
    background: rgb(5, 19, 30); /*hier kannst du die Hintergrundfarebe und Schriftfarbe anpassen*/
    color:rgb(231, 220, 220);
}

.headbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(5, 19, 30);
    box-shadow: 10px 20px 15px rgb(3, 10, 15);
}

.logo {
    font-size: 16px;
    color: rgb(231, 220, 220);
    text-decoration: none;
    font-weight: 600;
}




.navbar a{
    font-size: 16px;
    color: rgb(231, 220, 220);
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active{
    color: rgb(151, 212, 253);
}



.text{
    margin-right: 200px;
}

.contact{
    height: 100vh;
    padding: 0 10%;
    display: flex;
    align-items: center;
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes cursor-blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: rgb(231, 220, 220); }
}

@keyframes cursor-fade {
    from { border-color: rgb(231, 220, 220); }
    to { border-color: transparent; }
}

.contact h1 {
    font-size: 40px;
    font-weight: 1500;
    margin-bottom: 40px;
    overflow: hidden; /* Ensures the text is hidden until it is typed out */
    border-right: .15em solid rgb(231, 220, 220); /* Creates the blinking cursor effect */
    white-space: nowrap; /* Prevents the text from wrapping */
    margin: 0 auto; /* Centers the text */
    letter-spacing: .15em; /* Adds some spacing between the letters */
    animation: 
        typewriter 4s steps(40, end), /* Adjust the duration and steps as needed */
        cursor-blink .75s step-end infinite,
        cursor-fade 1s step-end 4s forwards; 
}

.contact-content a {
    color: rgb(151, 212, 253);
    text-decoration: none;
}

.contact-content a:hover {
    color: rgb(172, 206, 109);
    text-decoration: underline;
}

.contact-content a:active {
    color: rgb(172, 206, 109);
    text-decoration: underline;
}

.contact-content a:visited {
    color: rgb(99, 187, 247);
    text-decoration: underline;
}

.Myname{
    font-size: 25px;
    margin-bottom: 40px;
    color:rgb(231, 220, 220);
}


.contactdates { 
    float: left; 
    width: 32%; 
    margin-right: 5%; 
    white-space: nowrap; /*verhindert Zeilenumbruch*/
}

p{
    font-size: 18px;
    inset-inline: 20px;
    color:rgb(231, 220, 220);
    padding: 0
}