/*hier machst du das styling einer website*/
/* die sachen, die ich mit class oder id im HTML hinterlegt habe, werden hier designed (farbe, schriftgröße etc.)*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

body{
    background: rgb(5, 19, 30); /*hier kannst du die Hintergrundfarebe und Schriftfarbe anpassen*/
    color:rgb(231, 220, 220);
}

.headbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(5, 19, 30);
    box-shadow: 10px 20px 15px rgb(3, 10, 15);
}

.logo {
    font-size: 16px;
    color: rgb(231, 220, 220);
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 16px;
    color: rgb(231, 220, 220);
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.active{
    color: rgb(151, 212, 253);
}

.project {
    padding: 200px 10% 0; /* Add top padding to account for the fixed navbar */
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: flex-start; /* Aligns items on the cross-axis */
}

.project-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligns items on the cross-axis */
    width: 100%; /* Ensures the content takes the full width */
}

.project-content a {
    color: rgb(151, 212, 253);
    text-decoration: none;
}

.project-content a:hover {
    color: rgb(172, 206, 109);
    text-decoration: underline;
}

.project-content a:active {
    color: rgb(172, 206, 109);
    text-decoration: underline;
}

.project-content a:visited {
    color: rgb(99, 187, 247);
    text-decoration: underline;
}

.text {
    flex: 1;
    margin-right: 20px; /* Adds some space between the text and the image */
}

.project-content img {
    flex-shrink: 0; /* Prevents the image from shrinking if space is tight */
    width: 300px;
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure the image does not overflow */
    box-shadow: 10px 20px 15px rgb(3, 10, 15);
    border-radius: 20px;
}

.project-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.project-content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(151, 212, 253);
}

.project-content h3 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(151, 212, 253);
}

.text {
    width: 600px;
}

p {
    font-size: 14px;
    margin-bottom: 10px;
    color: rgb(231, 220, 220);
    padding: 0;
}

.text {
    flex: 1;
    margin-right: 20px;
    margin-top: -50px;
}

.talk {
    font-size: 14px;
    text-decoration: none;
    color: rgb(5, 19, 30);
    border: 2px solid rgb(151, 212, 253);
    border-radius: 10px;
    padding: 8px;
    font-weight: bold;
    margin-right: 30px;
    background: rgb(151, 212, 253);
}

.talk:hover {
    color: rgb(151, 212, 253);
    transition: .1s;
    font-weight: 600;
    border: 2px solid rgb(151, 212, 253);
    border-radius: 10px;
    background-color: transparent;
}

.home-contacts {
    position: absolute;
    left: 5%;
    bottom: 40px;
    width: 100px;
    display: flex;
    justify-content: space-between;
}

.home-contacts a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(151, 212, 253);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(151, 212, 253);
    text-decoration: none;
}

.home-contacts a:hover {
    color: rgb(5, 19, 30);
    transition: .1s;
    background-color: rgb(151, 212, 253);
    font-weight: 600;
}
